
{#
 * This file is part of the zimbrucode package.
 *
 * (c) Junjulini
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 #}

{#
 * Control TWIG : Color picker
 *
 * @author  C.R <cr@junjulini.com>
 * @package zimbrucode
 * @since   1.0.0
 #}
 
{% extends '@blocks/content/control.twig' %}

{% set value      = control.option %}
{% set background = value ? 'style="background: ' ~ value ~ '"' %}

{% block content %}
    <div class="zc-panel-control-colorpicker">
        <input type="text" name="{{ control.ID }}" placeholder="{{ control.settings.placeholder }}" value="{{ value }}" id="{{ control.ID }}" class="zc-panel-control-colorpicker__input" {{ control.ignore }} data-option data-settings="{{ control.settings|json_encode() }}" autocomplete="off" readonly="true">
        <div class="zc-panel-control-colorpicker__live-color" {{ background|raw }}></div>
    </div>
{% endblock %}