
{#
 * This file is part of the zimbrucode package.
 *
 * (c) Junjulini
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 #}

{#
 * Control TWIG : Gallery
 * 
 * @author  C.R <cr@junjulini.com>
 * @package zimbrucode
 * @since   1.1.0
 #}
 
{% extends '@blocks/content/control.twig' %}

{% block content %}
    <div class="zc-panel-control-gallery-type">
        <button class="zc-panel-control-gallery-type__button">{{ __('Add images', 'zc') }}</button>
        
        <ul class="zc-panel-control-gallery-type__list">
            {% for attachment in control.option|json_decode %}
                <li class="zc-panel-control-gallery-type__item" data-id="{{ attachment }}">
                    <img src="{{ control.getAttachmentImageSrc(attachment) }}" width="80" height="80" class="zc-panel-control-gallery-type__image-preview">
                    <button title="{{ __('Change image', 'zc') }}" class="zc-panel-control-gallery-type__item-button zc-panel-control-gallery-type__item-button_change-image">
                        <i class="zc-panel-control-gallery-type__item-button-icon zc-icon-brush"></i>
                    </button>
                    <button title="{{ __('Remove image', 'zc') }}" class="zc-panel-control-gallery-type__item-button zc-panel-control-gallery-type__item-button_remove-image">
                        <i class="zc-panel-control-gallery-type__item-button-icon zc-icon-close"></i>
                    </button>
                </li>
            {% endfor %}
        </ul>

        <input type="hidden" name="{{ control.ID }}" value="{{ control.option }}" id="{{ control.ID }}" {{ control.ignore }} data-option autocomplete="off">
    </div>
{% endblock %}